# import liberaries

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier

# load data

In [4]:
path = r'D:\ML pro  clarity vision\framingham.csv'

data = pd.read_csv(path)

In [5]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [6]:
data.shape

(4238, 16)

# Clean Data

In [7]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [8]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
male,4238.0,0.429212,0.495022,0.00,0.00,0.0,1.000,1.0
age,4238.0,49.584946,8.572160,32.00,42.00,49.0,56.000,70.0
education,4133.0,1.978950,1.019791,1.00,1.00,2.0,3.000,4.0
currentSmoker,4238.0,0.494101,0.500024,0.00,0.00,0.0,1.000,1.0
cigsPerDay,4209.0,9.003089,11.920094,0.00,0.00,0.0,20.000,70.0
BPMeds,4185.0,0.029630,0.169584,0.00,0.00,0.0,0.000,1.0
prevalentStroke,4238.0,0.005899,0.076587,0.00,0.00,0.0,0.000,1.0
prevalentHyp,4238.0,0.310524,0.462763,0.00,0.00,0.0,1.000,1.0
diabetes,4238.0,0.025720,0.158316,0.00,0.00,0.0,0.000,1.0
totChol,4188.0,236.721585,44.590334,107.00,206.00,234.0,263.000,696.0
sysBP,4238.0,132.352407,22.038097,83.50,117.00,128.0,144.000,295.0
diaBP,4238.0,82.893464,11.910850,48.00,75.00,82.0,89.875,142.5
BMI,4219.0,25.802008,4.080111,15.54,23.07,25.4,28.040,56.8
heartRate,4237.0,75.878924,12.026596,44.00,68.00,75.0,83.000,143.0
glucose,3850.0,81.966753,23.959998,40.00,71.00,78.0,87.000,394.0
TenYearCHD,4238.0,0.151958,0.359023,0.00,0.00,0.0,0.000,1.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [10]:
data.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [11]:
duplicate_rows = data[data.duplicated()]
print("No. of duplicate rowaa: ", duplicate_rows.shape[0])

No. of duplicate rowaa:  0

In [12]:
x = data.iloc[ : , : -1]
y = data.iloc[ : , -1]

In [13]:
x.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0

In [14]:
y.head()

0    0
1    0
2    0
3    1
4    0
Name: TenYearCHD, dtype: int64

# Data Scaling

In [15]:
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [16]:
x[1]

array([-0.86715836, -0.41825733,  0.02064407, -0.98827076, -0.75537648,
       -0.17474081, -0.07703255, -0.67110093, -0.16247659,  0.29782239,
       -0.51518725, -0.15898843,  0.71771073,  1.59008688, -0.24906213])

# Data split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=44, shuffle = True)

In [18]:
x_train

array([[-0.86715836,  0.51510649, -0.96006796, ..., -0.09118665,
        -0.48888459,         nan],
       [ 1.1531919 , -0.18491638, -0.96006796, ...,  0.32551806,
        -1.0709966 , -1.12563682],
       [-0.86715836,  1.5651408 , -0.96006796, ..., -0.27257576,
         0.342704  , -0.58299535],
       ...,
       [-0.86715836,  1.09845889, -0.96006796, ..., -0.1156987 ,
        -0.0730903 , -0.58299535],
       [-0.86715836, -0.30158686, -0.96006796, ...,  2.23255492,
         0.50902171,  9.93590084],
       [ 1.1531919 ,  0.51510649, -0.96006796, ...,  0.10000727,
        -0.0730903 , -0.58299535]])

In [19]:
y_train

1354    0
1037    0
2247    0
3805    1
1851    1
       ..
3971    0
571     0
1197    0
2801    1
3491    0
Name: TenYearCHD, Length: 3390, dtype: int64

In [20]:
print('x_train shape is :' , x_train.shape)
print('x_test shape is :' , x_test.shape)
print('y_train shape is :' , y_train.shape)
print('y_test shape is :' , y_test.shape)

x_train shape is : (3390, 15)
x_test shape is : (848, 15)
y_train shape is : (3390,)
y_test shape is : (848,)

# Use decision tree

In [21]:
treemodel = DecisionTreeClassifier()

In [22]:
parameter={
    'criterion':['gini','entropy','log_loss'],
    'max_depth':[1,2,3,4,5]
}

In [24]:
from sklearn.model_selection import GridSearchCV

In [25]:
cv = GridSearchCV(treemodel,parameter,scoring='accuracy',cv=5)

In [26]:
cv.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_depth': [1, 2, 3, 4, 5]},
             scoring='accuracy')

In [27]:
cv.best_params_

{'criterion': 'log_loss', 'max_depth': 3}

In [28]:
y_predtree=cv.predict(x_test)

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
print("Train accuracy :{:.2f}".format(accuracy_score(y_train, cv.predict(x_train))))
print("Train accuracy :{:.2f}".format(accuracy_score(y_test, cv.predict(x_test))))

Train accuracy :0.85
Train accuracy :0.84